<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Course List
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let course of courses" (click)="selectCourse(course)">
                        {{course.title | titlecase}}
                    
                        <button 
                        mat-icon-button 
                        color="warn"
                        (click)="deleteCourse(course.id); $event.stopImmediatePropagation()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span *ngIf="selectedCourse?.id; else elseBlock">
                        {{originalTitle | titlecase}}
                    </span>
                    <ng-template #elseBlock>Select A Course</ng-template>
                </mat-card-title>
            </mat-card-header>
            <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
                <mat-card-content>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Enter Course Title</mat-label>
                        <input name="title" matInput required type="text" placeholder="title"
                            [(ngModel)]="selectedCourse.title">
                        <mat-hint>*type the name of the course you want to find or add</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Enter Course description</mat-label>
                        <textarea name="description" matInput type="text" placeholder="description"
                            [(ngModel)]="selectedCourse.description">
                        </textarea>
                        <mat-hint>*type the description of your course</mat-hint>
                    </mat-form-field>
                    <section class="full-width">
                        <mat-slider
                        [(ngModel)]="selectedCourse.percentComplete"
                        class="full-width" 
                        thumbLabel 
                        step="1" 
                        min="0" max="100" 
                        name="percent-complete"
                        aria-label="units">
                        </mat-slider>
                    </section>
                    <section>
                        <mat-checkbox 
                        [(ngModel)]="selectedCourse.favorite"
                        name="favorite">Favorite</mat-checkbox>
                    </section>


                    <hr>
                    <pre>{{form.value | json}}</pre>
                    <pre> {{form.valid | json}}</pre>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Submit</button>
                    <button type="button" mat-raised-button color="secondary" (click)="clear()">Clear</button>
                </mat-card-actions>

            </form>

        </mat-card>
    </div>
</div>