    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let course of courseList" (click)="selected.emit(course)">
                    {{course.title | titlecase}}
                
                    <button 
                    mat-icon-button 
                    color="warn"
                    (click)="deleted.emit(course.id); $event.stopImmediatePropagation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
